@import "./styles/normalize.scss";
@import "./assets/fonts/fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

$color-primary: #f1cdb3;
$color-white: #ffffff;
$color-light: #fafafa;
$color-light-1: #f6f6f6;
$color-dark: #cdcdcd;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3x: #292929;
$color-hover: #fddcc4;

%georgia-normal {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

%arial-normal {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

// !General
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (max-width: 1279px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 400px) {
    padding: 0 10px;
  }
}

.btn {
  height: 52px;
  border: none;
  background-color: $color-primary;
  border-radius: 100px;
  padding: 0;
  @extend %georgia-normal;
  color: $color-dark-3x;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  transition: all 0.3s linear;

  &:hover {
    cursor: pointer;
    background-color: $color-hover;
  }
}

.section {
  padding: 80px 0 100px 0;

  @media screen and (max-width: 400px) {
    padding: 42px 0 42px 0;
  }
}

.title-section {
  @extend %georgia-normal;
  font-size: 3.5rem;
  color: $color-dark-l;
  line-height: 130%;
  letter-spacing: 0.06em;

  @media screen and (max-width: 400px) {
    text-align: center;
    font-size: 2.5rem;
  }
}

// !Header start
.header-wrapper {
  max-width: 1280px;
  margin: 30px auto -90px auto;

  .container {
    @media screen and (max-width: 400px) {
      padding: 0 20px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;

  .logo {
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
      transform: scale(0.9);
    }

    .logo__title {
      margin: 0;
      margin-bottom: 10px;
      @extend %georgia-normal;
      font-size: 3.2rem;
      line-height: 110%;
      color: $color-primary;
      letter-spacing: 0.06em;
    }

    .logo__subtitle {
      margin: 0;
      margin-left: 4px;
      @extend %arial-normal;
      font-size: 1.3rem;
      color: $color-white;
      line-height: 15px;
      letter-spacing: 0.1em;
    }
  }

  .nav {
    max-width: 443px;
    display: flex;
    align-items: center;

    .nav__list {
      width: 100%;
      height: 24px;
      display: flex;
      margin: 0;
      padding: 0;

      @media screen and (max-width: 767px) {
        display: none;
      }

      .nav__item {
        list-style-type: none;
        margin-right: 35px;
      }

      .nav__item:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav__link {
  text-decoration: none;
  @extend %arial-normal;
  font-size: 1.5rem;
  color: $color-dark;
  line-height: 160%;
  transition: all 0.3s linear;
  padding-bottom: 5px;

  &:hover {
    cursor: pointer;
    color: $color-light;
  }

  &:active {
    border-bottom: solid 3px $color-primary;
  }
}

.nav__link_active {
  border-bottom: solid 3px $color-primary;
  color: $color-light;

  &:hover {
    cursor: default;
  }
}

.nav__burger-icon {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  transition: 0.5s all linear;
  cursor: pointer;

  .burger__line {
    border-bottom: 3px solid $color-primary;
  }

  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.burger-icon_active {
  transform: rotate(90deg);
}

.overlay_active::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(41, 41, 41, 0.6);
  z-index: 0;
}

.burger__menu {
  width: 320px;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.5s all linear;
  background: $color-dark-3x;
  justify-content: center;


  .nav__burger-list {
    height: 327px;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 248px;

    .nav__item {
      list-style-type: none;
    }

    .nav__link {
      font-size: 3.2rem;
    }
  }
}

.burger__menu_active {
  transform: translateX(0);
}
// !Header stop

// !Main start

// !Section START
.dark-wrapper {
  background: url("assets/images/noise_lines_transparent@2X.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  background-repeat: no-repeat;
  background-size: cover;
}

.start {
  padding-top: 180px;

  @media screen and (max-width: 860px) {
    padding-top: 150px;
  }

  .start__content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 860px) {
      flex-direction: column;
    }

    .start__content {
      max-width: 460px;
      min-height: 322px;
      margin-bottom: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (max-width: 860px) {
        margin-bottom: 100px;
      }

      @media screen and (max-width: 400px) {
        align-items: center;
        min-height: 296px;
        margin-bottom: 105px;
      }

      .start__title {
        width: 67.39%;
        margin: 0;
        @extend %georgia-normal;
        color: $color-white;
        font-size: 4.4rem;
        line-height: 130%;

        @media screen and (max-width: 400px) {
          font-size: 2.5rem;
          text-align: center;
          letter-spacing: 0.06em;
        }
      }

      .start__description {
        margin: 0;
        @extend %arial-normal;
        font-size: 1.5rem;
        color: $color-dark;
        line-height: 160%;

        @media screen and (max-width: 400px) {
          text-align: center;
        }
      }

      .start__btn {
        width: 207px;

        .btn {
          width: 100%;
        }

        @media screen and (max-width: 860px) {
          margin: 0 auto;
        }
      }
    }
  }

  .start__img-puppy {
    width: 58.17%;

    @media screen and (max-width: 860px) {
      width: 80.37%;
      align-self: flex-end;
    }

    @media screen and (max-width: 400px) {
      width: 260px;
      margin-left: 40px;
    }
  }
}

// !Section ABOUT
.about {
  background-color: $color-white;
}

.about__content-wrap {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }

  @media screen and (max-width: 400px) {
    max-width: 270px;
  }

  .about__img-pets {
    max-width: 300px;
    max-height: 408px;

    @media screen and (max-width: 400px) {
      max-width: 260px;
    }
  }

  .about__content {
    max-width: 430px;
    max-height: 380px;

    @media screen and (max-width: 768px) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: 400px) {
      max-height: none;
      text-align: justify;
      margin-bottom: 42px;
    }

    .about__title {
      width: 100%;
      margin: 0;
      margin-bottom: 25px;
    }

    .about__description {
      margin: 0;
      @extend %arial-normal;
      font-size: 1.5rem;
      line-height: 160%;
    }

    .about__description:nth-child(2) {
      margin-bottom: 25px;

      @media screen and (max-width: 400px) {
        margin-bottom: 22px;
      }
    }
  }
}

// !Section PETS

.pets {
  background-color: $color-light-1;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pets__title {
      width: 400px;
      margin: 0;
      margin-bottom: 60px;
      text-align: center;

      @media screen and (max-width: 425px) {
        width: 100%;
        margin-bottom: 40px;
      }
    }
  }
}

.pets__slider {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 725px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 42px;
  }

  .slider__btn {
    min-width: 52px;
    height: 52px;
    padding: 0;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background-color: $color-light-1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s linear;

    &:hover {
      cursor: pointer;
      background-color: $color-hover;
      border: none;
    }
  }

  .btn-left {
    background-image: url("./assets/icons/arrow.svg");

    @media screen and (max-width: 725px) {
      order: 1;
      margin-right: 80px;
    }
  }

  .btn-right {
    background-image: url("./assets/icons/arrow.svg");
    transform: rotate(180deg);

    @media screen and (max-width: 725px) {
      order: 2;
    }
  }

  .wrapper-cards {
    width: 990px;
    overflow: hidden;
    display: flex;
  }

  .slider__cards {
    width: 100%;
    margin: 0 12px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 725px) {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}

.slider__card {
  height: 435px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $color-light;
  border-radius: 9px;
  transition: all 0.3s linear;

  &:last-child {
    @media screen and (max-width: 980px) {
      display: none;
    }
  }

  &:nth-child(2) {
    @media screen and (max-width: 725px) {
      display: none;
    }
  }

  &:hover {
    cursor: pointer;
    background: $color-white;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    .card__btn {
      background-color: $color-hover;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .card__title {
    margin: 0;
    font-size: 2rem;
    @extend %georgia-normal;
    color: $color-dark-l;
    line-height: 23px;
    letter-spacing: 0.06em;
  }

  .card__btn {
    width: 187px;
    height: 52px;
    margin-bottom: 30px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background-color: $color-light;
    @extend %georgia-normal;
    color: $color-dark-3x;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    transition: all 0.3s linear;
  }
}

.pets__btn {
  width: 260px;
}

// !Popap pet
.wrapper-popap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(41, 41, 41, 0.6);
  transition: 0.5s all linear;
  transform: scale(0);
}

.popap_active {
  transform: scale(100%);
}

.popap {
  position: relative;
  max-width: 900px;
  margin: 0 50px;
  display: flex;
  background-color: $color-light;
  border-radius: 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

  @media screen and (max-width: 796px) {
    margin: 0 69px;
  }

  @media screen and (max-width: 320px) {
    margin: 0 40px;
  }

  .popap__close-icon {
    width: 52px;
    height: 52px;
    position: absolute;
    top: -52px;
    right: -42px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background-image: url(./assets/icons/x.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s all linear;

    &:hover {
      cursor: pointer;
      transform: scale(80%);
    }

    @media screen and (max-width: 320px) {
      right: -20px;
    }
  }

  .popap__img {
    max-width: 500px;
    height: 500px;

    @media screen and (max-width: 796px) {
      max-width: 350px;
      height: 350px;
    }

    @media screen and (max-width: 615px) {
      display: none;
    }
  }

  .popap__content {
    @extend %georgia-normal;
    letter-spacing: 0.06em;
    padding: 50px 20px 0 29px;

    @media screen and (max-width: 796px) {
      padding: 10px 9px 0 10px;
    }

    @media screen and (max-width: 320px) {
      padding: 10px;
    }

    .popap__title {
      font-size: 3.5rem;
      font-weight: 400;
      letter-spacing: 0.06em;
      line-height: 130%;
      margin: 0;
      margin-bottom: 10px;

      @media screen and (max-width: 320px) {
        text-align: center;
      }
    }

    .popap__subtitle {
      font-size: 2rem;
      font-weight: 400;
      line-height: 115%;
      letter-spacing: 0.06em;
      margin: 0;
      margin-bottom: 42px;

      @media screen and (max-width: 796px) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: 320px) {
        text-align: center;
      }
    }

    .popap__text,
    .stats__item {
      font-size: 1.5rem;
      line-height: 110%;
    }

    .popap__text {
      margin: 0;
      margin-bottom: 45px;
      letter-spacing: 0.06em;

      @media screen and (max-width: 796px) {
        font-size: 1.3rem;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 320px) {
        margin-bottom: 24px;
      }
    }

    .popap__stats {
      margin: 0;
      padding: 0;
      padding-left: 15px;
    }

    .stats__item {
      letter-spacing: 0.06em;
      margin-bottom: 10px;

      @media screen and (max-width: 796px) {
        margin-bottom: 5px;
      }
    }

    .stats__item::marker {
      color: $color-primary;
    }
  }
}

// ! Section HELP
.help {
  background-color: $color-white;
  padding: 80px 0 103px 0;

  @media screen and (max-width: 400px) {
    padding: 42px 0 42px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .help__title {
      width: 310px;
      margin: 0;
      margin-bottom: 55px;
      text-align: center;

      @media screen and (max-width: 400px) {
        width: 222px;
        margin-bottom: 40px;
      }
    }

    .help__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 55px 120px;

      @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 55px 65px;
      }

      @media screen and (max-width: 525px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 35px;
      }
    }
  }
}

.help__card {
  height: 113px;
  margin: 0;
  text-align: center;

  @media screen and (max-width: 320px) {
    height: 87px;
  }

  .help-card__icon {
    margin-bottom: 30px;

    @media screen and (max-width: 320px) {
      width: 50px;
      margin-bottom: 20px;
    }
  }

  .help-card__title {
    @extend %georgia-normal;
    font-size: 2rem;
    color: $color-dark-l;
    line-height: 115%;
    letter-spacing: 0.06em;

    @media screen and (max-width: 525px) {
      font-size: 1.5rem;
      line-height: 110%;
    }
  }
}

// !Section DONATION

.donation {
  background-color: $color-light-1;

  .container {
    max-width: 915px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 880px) {
      flex-direction: column-reverse;
    }

    @media screen and (max-width: 425px) {
      padding: 0 20px;
    }

    .donation__img {
      max-width: 505px;
      max-height: 261px;

      @media screen and (max-width: 525px) {
        width: 100%;
      }

      @media screen and (max-width: 320px) {
        width: 260px;
      }
    }
  }
}

.donation__content {
  max-width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 880px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 425px) {
    align-items: center;
    margin-bottom: 42px;
  }

  .donation__title {
    margin: 0;
  }

  .donation__subtitle {
    margin: 0;
    @extend %georgia-normal;
    font-size: 1.5rem;
    color: $color-dark-l;
    line-height: 110%;
    letter-spacing: 0.06em;

    @media screen and (max-width: 320px) {
      line-height: 160%;
      letter-spacing: 0;
    }
  }

  .donation__btn {
    width: 349px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 9px;

    @media screen and (max-width: 425px) {
      width: 281px;
    }

    a {
      text-decoration: none;
      @extend %georgia-normal;
      font-size: 2rem;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: $color-dark-l;

      @media screen and (max-width: 425px) {
        font-size: 1.5rem;
        line-height: 110%;
      }
    }
  }

  .donation__text {
    margin: 0;
    font-family: Arial;
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    color: #b2b2b2;
    line-height: 18px;

    @media screen and (max-width: 425px) {
      text-align: justify;
    }
  }
}

// !Footer
.footer-dark-wrapper {
  background: url("./assets/images/noise_lines_transparent@2X.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  padding-top: 40px;

  @media screen and (max-width: 940px) {
    padding-top: 28px;
  }

  @media screen and (max-width: 320px) {
    padding-top: 30px;
  }

  a {
    transition: all 0.3s linear;

    &:hover {
      transform: scale(1.1);
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 940px) {
      flex-wrap: wrap;
      padding: 0 64px;
    }

    @media screen and (max-width: 716px) {
      padding: 0 10px;
      justify-content: center;
    }
  }
}

.footer-title {
  margin: 0;
  @extend %georgia-normal;
  color: $color-white;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;

  @media screen and (max-width: 320px) {
    font-size: 2.5rem;
    text-align: center;
  }
}

.footer .link {
  margin-left: 20px;
  text-decoration: none;
  @extend %georgia-normal;
  font-size: 2rem;
  color: $color-primary;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer__contacts {
  max-width: 279px;
  margin-bottom: 45px;

  @media screen and (max-width: 716px) {
    margin-right: 10px;
  }

  @media screen and (max-width: 320px) {
    margin-right: 0;
    margin-bottom: 38px;
  }

  .contacts__title,
  .contacts__email {
    margin-bottom: 40px;
  }

  .contacts__email {
    @media screen and (max-width: 320px) {
      margin-bottom: 37px;
    }
  }
}

.contacts__email,
.contacts__phone {
  @media screen and (max-width: 320px) {
    justify-content: center;
  }
}

.footer__adresses {
  max-width: 302px;
  margin-bottom: 45px;

  @media screen and (max-width: 320px) {
    margin-bottom: 40px;
  }

  .adresses__title {
    margin-bottom: 34px;

    @media screen and (max-width: 320px) {
      width: 270px;
      margin: 0 auto 40px;
    }
  }

  .adresses__boston {
    margin-bottom: 32px;

    @media screen and (max-width: 320px) {
      margin-bottom: 37px;
    }
  }
}

.contacts__email,
.contacts__phone,
.adresses__boston,
.adresses__london {
  display: flex;
  align-items: center;
}

.footer__puppy {
  @media screen and (max-width: 940px) {
    margin: 0 auto;
    padding-top: 15px;
  }

  @media screen and (max-width: 320px) {
    width: 260px;
    height: 269px;
    padding-top: 0;
  }
}
